.left-right-Part {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 5px;
}
.left-Part {
    width: 60%;
    margin: 5px;
    padding: 15px;
    background-color: rgb(250, 250, 250);
}
.right-Part {
    background-color: rgb(250, 250, 250);
    padding: 15px;
    width: 40%;
    margin: 5px;
}
.Tabs {
    padding-left: 20px;
    padding-right: 20px;
}