.demo-infinite-container {
    border: 1px solid #e8e8e8;
    border-radius: 4px;
    overflow: auto;
    padding: 8px 24px;
    height: 300px;
}
.demo-loading-container {
    position: absolute;
    bottom: 40px;
    width: 100%;
    text-align: center;
}
.top-div {
    width: 100%;
}
.div {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.time {
    /* display: block; */
    /* float: right; */
    display: flex;
    flex-direction: row-reverse;
}
.nick {
    display: block;
}
.reject {
    color: red;
}
.Button {
    float: right;
    width: 45px;
    height: 23px;
    padding: 0;
}