.review {
    height: 400px;
    border: 1px solid #aaa;
    border-radius: 1%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin: 20px;
    background-color: white;
}
.review-head {
    display: flex;
    justify-content: space-between;
    margin: 10px 20px;
    height: 30px;
}
.main {
    display: flex;
    justify-content: space-around;
}
.left-div {
    border: 1px solid #aaa;
    border-radius: 3%;
    width: 49%;
    padding: 10px;
}
.rigth-div {
    border: 1px solid #aaa;
    border-radius: 3%;
    width: 49%;
    padding: 10px;
}