.mask-ctn {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, .6)
}

.dialog-ctn {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 300px;
  margin-left: -100px;
  margin-top: -150px;
  background-color: #fff;
  border-radius: 4px;
  /* text-align: center; */
}

.dialog-form-ctn {
  margin: 0 auto;
  text-align: center;
  margin-top: 40%;
}

.input-ctn {
  position: relative;
  margin: 7px auto;
  width: 80%;
  height: 10%;
  left: 10%;
  top: 25%;
}

.input-text-ctn {
  margin-bottom: 10px;
}

.close-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  color: #fff;
}

.del-btn {
  background-color:rgb(175, 170, 170);
  border-radius: 4px;
  text-align: center;
  width: 40px;
  height: 20px;
}