.Both-Type-div {
    text-align: center;
    font-size: 18px;
    padding: 10% 20px;
    font-family: -apple-system-font,Helvetica Neue,Helvetica,sans-serif;
}
.Type-div {
    text-align: center;
    color: #000000;
    background-color: #F8F8F8;
    border-radius: 5px;
    margin: 10px;
    line-height: 1.6;
}
.Type-div {
    text-align: center;
    color: #000000;
    background-color: #F8F8F8;
    border-radius: 5px;
    margin: 10px;
    line-height: 2.0;
}