.SorceArea {
  padding: 10px 25px;
  flex-shrink: 1;
}
.head {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
div span {
  display: block;
}
.title-2048 {
  font-size: 30px;
  font-weight: bold;
  display: block;
  float: left; 
  margin: 10px 0px;
}
.score_container {
  float: right;
  margin: 10px 0px;
}
.curentSorce {
  position: relative;
  display: inline-block;
  background: #bbada0;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  color: white;
  text-align: center;
  text-shadow: 0 0 black;
  padding: 0px 5px;
  margin: 0px 1px;
  width: 80px;
  height: 50px;
}
.bestSorce {
  position: relative;
  display: inline-block;
  background: #bbada0;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  color: white;
  text-align: center;
  text-shadow: 0 0 black;
  padding: 0px 5px;
  margin: 0px 1px;
  width: 80px;
  height: 50px;
}
.game_infro {
  display: flex;
  justify-content: space-between;
}
.score-font {
  font-size: 12px;
  padding-top: 8px;
}
.game_intro {
  width: 60%;
  font-size: 8px;
  line-height: 1.5;
  margin: 0;
}
.game_restart {
  width: 35%;
  justify-content: flex-end;
  display: flex;
  align-items: center;
}
.game_restart_btn {
  width: 70px;
  height: 35px;
  font-size: 16px;
  background: rgb(143, 122, 102);
  border-radius: 5px;
  color: white;
  text-align: center;
  padding: 5px 0px;
  margin: 0px;
  cursor: pointer;
}
.score-addition {
  position: absolute;
  right: 37px;
  color: red;
  font-size: 25px;
  line-height: 25px;
  font-weight: bold;
  color: rgba(119, 110, 101, 0.9);
  z-index: 100;
  -webkit-animation: scoreAddition 600ms ease-in;
}